@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  background-color: #000;
  color: #fff;
  overflow: hidden;
}

/* Hide scrollbars globally while keeping scroll behaviour */
* {
  scrollbar-width: none; /* Firefox */
  -ms-overflow-style: none; /* IE/Edge */
}
*::-webkit-scrollbar {
  display: none; /* Chrome/Safari */
}
